<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/basics/home">Home</a></td>
        <td><a href="{{site.baseurl}}/basics/JO">Javascript Obj</a></td>
        <td><a href="{{site.baseurl}}/basics/fsm">FSM</a></td>
        <td><a href="{{site.baseurl}}/basics/srp">SRP</a></td>
        <td><a href="{{site.baseurl}}/basics/gameControl">Game Control</a></td>
        <td><a href="{{site.baseurl}}/basics/drawIO">Draw.IO</a></td>
    </tr>
</table>